<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>单选框</title>
</head>
<body>

<div id="app">
  <!--  name="gender"  name 属性使 radio 互斥-->
  <!-- v-model: 将 value 绑定至指定变量 -->
  <input type="radio" id="male" v-model="gender" value="男">男
  <input type="radio" id="female" v-model="gender" value="女">女
  <h2>您选择的性别是: {{gender}}</h2>
</div>

<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
  const app = new Vue({
    el: '#app',
    data: {
      message: '',
      gender: '男' // 默认值: 自动绑定相应的 radio, 自动选中
    }
  });
</script>

</body>
</html>
