<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id="app">
  <cpn>
    <button>替换无名</button>
    <!-- 指定 slot name 属性名 -->
    <a slot="center">替换中间</a>
  </cpn>
</div>


<template id="cpn">
  <div>
    <slot name="left">左边</slot>
    <br>
    <slot name="center">中间</slot>
    <br>
    <slot name="right">右边</slot>
    <br>
    <slot>无名</slot>
    <br>
    <slot>无名</slot>
    <br>
  </div>
</template>

<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
  const app = new Vue({
    el: '#app',
    data: {
      message: ''
    },
    components: {
      cpn: {
        template: '#cpn',

      }
    }
  });
</script>

</body>
</html>