<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<!--
数据属于子组件, 展示方式当前作用域自定义

-->

<div id="app">
  <!-- 默认 -->
  <cpn></cpn>
  <cpn>
    <!-- 数据是 子组件的, 展示方式有当前作用域定义 -->
    <!-- Vue2.5.x 以下必须使用 template 标签,  -->
    <template slot-scope="slot">
      <span v-for="item in slot.data1">{{item}}-</span>
    </template>
  </cpn>
  <cpn>
    <div slot-scope="slot">
      <span>{{slot.data1.join(" * ")}}</span>
    </div>
  </cpn>
</div>

<!-- 子组件 -->
<template id="cpn">
  <div>
    <!-- 这里的绑定标签自定义, 不一定是 :data -->
    <slot :data1="pLanguages">
      <ul>
        <li v-for="item in pLanguages">{{item}}</li>
      </ul>
    </slot>
  </div>
</template>

<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
  const app = new Vue({
    el: '#app',
    data: {
      message: ''
    },
    components: {
      cpn: {
        template: '#cpn',
        data() {
          return {
            pLanguages: ['JS', 'CSS', 'Java']
          }
        }
      }
    }
  });
</script>

</body>
</html>