<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>


<div id="app">
  <!-- 一个组件的引入会创建一个组件实例 -->
  <cpn></cpn>
  <!-- 多个组件的 data 对象不同 -->
  <cpn></cpn>
</div>

 <!--
 为什么组件的 data 必须为函数?
 如果 组件的 data 是对象, 则同一个组件的多个实例会共用同一个 data,
 但是, 组件的目的是为了结构复用, 而不是数据复用
 比如下述例子, 如果 组件的 data 是对象而不是返回一个对象的函数,
 则会导致所有 组件实例 的 data 为同一个
 保证 组件的数据是 "多例" 而非 "单例"
 -->

<!-- template -->
<template id="cpn">
  <div>
    <p>当前计数{{counter}}</p>
    <button @click="increment">+</button>
    <button @click="decrement">-</button>
  </div>
</template>

<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>

  Vue.component('cpn', {
    template: '#cpn',
    data() {
      // 函数调用一次, 执行一次, 每次都是不同的对象
      return {
        counter: 0
      }
    },
    // 组件也有自己的方法
    methods: {
      increment() {
        this.counter++;
      },
      decrement() {
        this.counter--;
      }
    }
  })

  const app = new Vue({
    el: '#app',
    data: {
      message: ''
    }
  });

</script>

</body>
</html>
