body {
    font-size: small; /* 页面默认字体大小 */
    font-family: Verdana, Helvetica, Arial, sans-serif;
    line-height: 1.6em; /* leading--行间距: 字体大小的 1.6倍 */
}

h1, h2 {
    color: #007e7e;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}