<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Props</title>
</head>
<body>

<!--

使用 Props 传递数据
组件实例的作用域是孤立的。这意味着不能并且不应该在子组件的模板内直接引用父组件的数据。可以使用 props 把数据传给子组件。

“prop” 是组件数据的一个字段，期望从父组件传下来。子组件需要显式地用 props 选项 声明 props：

Vue.component('child', {
  // 声明 props
  props: ['msg'],
  // prop 可以用在模板内
  // 可以用 `this.msg` 设置
  template: '<span>{{ msg }}</span>'
})
然后向它传入一个普通字符串：

<child msg="hello!"></child>

==========================================================================================

camelCase vs. kebab-case
HTML 特性不区分大小写。名字形式为 camelCase 的 prop 用作特性时，需要转为 kebab-case（短横线隔开）：

Vue.component('child', {
  // camelCase in JavaScript
  props: ['myMessage'],
  template: '<span>{{ myMessage }}</span>'
})
 kebab-case in HTML
<child my-message="hello!"></child>


重申一次，如果你使用字符串模板，那么这个限制就不存在了。

-->

<!--
单向数据流

所有的 prop 都使得其父子 prop 之间形成了一个单向下行绑定：父级 prop 的更新会向下流动到子组件中，但是反过来则不行。
这样会防止从子组件意外变更父级组件的状态，从而导致你的应用的数据流向难以理解。

额外的，每次父级组件发生变更时，子组件中所有的 prop 都将会刷新为最新的值。
这意味着你不应该在一个子组件内部改变 prop。如果你这样做了，Vue 会在浏览器的控制台中发出警告。

注意在 JavaScript 中对象和数组是通过引用传入的，所以对于一个数组或对象类型的 prop 来说，
在子组件中改变变更这个对象或数组本身将会影响到父组件的状态。

-->

<!--

我们可以为组件的 prop 指定验证要求，例如你知道的这些类型。如果有一个需求没有被满足，则 Vue 会在浏览器控制台中警告你。
这在开发一个会被别人用到的组件时尤其有帮助。

为了定制 prop 的验证方式，你可以为 props 中的值提供一个带有验证需求的对象，而不是一个字符串数组。例如：

ue.component('my-component', {
  props: {
    // 基础的类型检查 (`null` 和 `undefined` 会通过任何类型验证)
    propA: Number,
    // 多个可能的类型
    propB: [String, Number],
    // 必填的字符串
    propC: {
      type: String,
      required: true
    },
    // 带有默认值的数字
    propD: {
      type: Number,
      default: 100
    },
    // 带有默认值的对象
    propE: {
      type: Object,
      // 对象或数组默认值必须从一个工厂函数获取
      default: function () {
        return { message: 'hello' }
      }
    },
    // 自定义验证函数
    propF: {
      validator: function (value) {
        // 这个值必须匹配下列字符串中的一个
        return ['success', 'warning', 'danger'].indexOf(value) !== -1
      }
    }
  }
})

当 prop 验证失败的时候，(开发环境构建版本的) Vue 将会产生一个控制台的警告。
注意那些 prop 会在一个组件实例创建之前进行验证，
所以实例的 property (如 data、computed 等) 在 default 或 validator 函数中是不可用的。
-

类型检查
type 可以是下列原生构造函数中的一个：

String
Number
Boolean
Array
Object
Date
Function
Symbol
额外的，type 还可以是一个自定义的构造函数，并且通过 instanceof 来进行检查确认。例如，给定下列现成的构造函数：

function Person (firstName, lastName) {
  this.firstName = firstName
  this.lastName = lastName
}
你可以使用：

Vue.component('blog-post', {
  props: {
    author: Person
  }
})
来验证 author prop 的值是否是通过 new Person 创建的。

-->

<!--
 数据传递流程
 vue 实例 -- 组件标签 -- template -- 子组件
-->

<div id="app">

  <!--
   将父组件的 movies 绑定-赋值 到 子组件的 cmovies
  -->
  <cpn v-bind:cmovies="movies" :cmessage="message" :prop-x="validMsg"></cpn>
  <!--<cpn cmovies="movies" cmessage="message"></cpn>-->
</div>

<!-- template -->
<template id="cpn">
  <div>
    <!-- 往模板写入 props 定义的属性 -->
    <h2>{{cmovies}}</h2>

    <ul>
      <li v-for="item in cmovies">{{item}}</li>
    </ul>

    <p>{{cmessage}}</p>
    {{propX}}
  </div>
</template>

<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>

  // 父传子: props
  const cpn = {
    template: '#cpn',
    // 1. 定义子组件的属性名
    // 2. 在 Vue 实例中 绑定
    // props 一: 数组类型
    // props: ['cmovies', 'cmessage'],
    // props 二: 对象类型
    props: {
      // 方式 1. 类型限制
      // cmovies: Array, // 可以多种类型
      // cmessage: String

      // 方式 2. 提供默认值: 在 v-bind 绑定父组件值时, 使用默认值
      cmovies: {
        type: Array,
        // Invalid default value for prop "cmovies":
        // Props with type Object/Array must use a factory function
        // to return the default value.
        // default: [], // '1', '2', '3'
        // 如果属性类型为 Object/Array, 默认值必须为 函数, 返回对应的类型
        default() {
          return [];
        },
        // 即该组件的标签 必须有 cmovies 属性
        required: true // 在使用组件时,必传值:  Missing required prop: "cmovies"
      },
      cmessage: {
        type: [String, Number],
        default: 'default message'
      },
      // 属性名不可驼峰, 否则会出错
      // 如果定义时使用驼峰, 则绑定时转为 短横 - 连接
      propX: {
        // 验证属性: cpn-propX 属性值必须为以下定义的值, 否则控制台会报错--展示没有问题
        validator(value) {
          return ['success', 'warning', 'info'].indexOf(value) !== -1;
        }
      }
    },
    // data 本身是个函数
    data() {
      // 必须 return object
      return {};
    }
  };

  // vue 实例: 顶层父组件
  const app = new Vue({
    el: '#app',
    data: {
      message: '父组件的message',
      movies: ['海贼王', '海尔兄弟'],
      validMsg: 'warning'
    },
    components: {
      // 对象增强写法
      cpn
    }
  });
</script>

</body>
</html>
