<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id="app">
  <!-- 将父组件的数据传递到子组件
    左值表示被绑定的子组件属性名, 右值表示父组件的属性名
  -->
  父组件的属性: {{num1}}
  <cpn :parent-prop="num1"></cpn>

  <hr>
  <!-- 将 -->
  <!-- 左值-事件名: 子组件定义($emit 时间名), 右值: 父组件的 方法 -->
 父子同步 <cpn :parent-prop="num1" @child-prop="cik"/>
</div>

<!-- template -->
<template id="cpn">
  <div>
    <!-- 这里写的是 子组件定义的属性, 该属性绑定了 父组件的属性 -->
    <h2>{{parentProp}}</h2>
    <!--
    这种方式可以实现双向绑定, 但是会有警告
    vue.js:634 [Vue warn]: Avoid mutating a prop directly since the value will
    be overwritten whenever the parent component re-renders.
    Instead, use a data or computed property based on the prop's value.
    Prop being mutated: "n1"
    不建议在子组件中修改父组件的属性
    -->
    <!--<input type="text" v-model="parentProp">-->

    <div>子组件的 data 属性值: {{childSelf}}</div>
    <div>子组件的 props 属性: {{parentProp}}</div>
    <!-- parentProp 是子组件的属性, 所以这种方式不会修改 父组件相应的内容 -->
    修改 props 属性值, 不建议使用
    <input type="text" v-model.number="parentProp" /> <br>

    <!-- 注意以下两种方式的区别
    v-model: 是双向绑定, 不需要在 @input 中手动赋值
    v-bind:value: 只是绑定 childSelf 的值, 并没有执行改变,
        必须依赖于 @input 事件
    -->
    <!-- @input input 事件 -->
    修改 data 中的属性
    <input type="text" v-model.number="childSelf" @input="inProp1" />
    <br>
    修改 data 中定义的属性
    <!-- v-bind 可以省略 :value -->
    <input type="text" v-bind:value="childSelf" @input="inProp" />
  </div>
</template>

<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>

  // 子组件
  const cpn = {
    // template-id
    template: '#cpn',
    // props 引入父组件的属性
    props: {
      parentProp: {
        type: Number,
        required: true,
        default: 0
      }
    },
    // use a data or computed property based on the prop's value.
    data() {
      return {
        // 把 props 引入的父属性值赋值给 子组件的 属性
        childSelf: this.parentProp,
      }
    },
    // $emit-method 将事件传递给 父组件
    methods: {
      inProp(event) {
        console.log(this.childSelf);
        // 赋值输入的值到 属性
        this.childSelf = event.target.value;
        // 事件名
        this.$emit('child-prop', this.childSelf);
      },
      inProp1() {
        // 事件名
        this.$emit('child-prop', this.childSelf);
      },
    }
  }

  // 父组件: Vue 实例
  const app = new Vue({
    el: '#app',
    data: {
      message: '',
      num1: 1,
    },
    // 引入子组件
    components: {
      cpn, // 增强写法
    },
    methods: {
      cik(val) {
        this.num1 = parseInt(val);
      }
    }
  });
</script>

</body>
</html>