<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>父组件值传子组件,子组件值改变同步父组件</title>
</head>
<body>

<!-- 父组件 -->
<div id="app">
  <!-- 子组件 -->
 <cpn :parent-prop1="num1" :parent-prop2="num2" @child-prop1="cik1" @child-prop2="cik2"/>
</div>

<!-- template -->
<template id="cpn">
  <div>
    <div>子组件的 data 属性值: {{childSelf1}}</div>
    <div>子组件的 props 属性: {{parentProp1}}</div>

    <input type="text" v-model="childSelf1" />
    <div>子组件的 data 属性值: {{childSelf2}}</div>
    <div>子组件的 props 属性: {{parentProp2}}</div>
    <input type="text" v-model="childSelf2" />
  </div>
</template>

<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>

  // 子组件
  const cpn = {
    // template-id
    template: '#cpn',
    // props 引入父组件的属性
    // 不要直接在子组件模板中绑定 props 属性
    // 应该使用 data 间接绑定
    props: {
      // 父组件的属性
      parentProp1: {
        type: Number,
        required: true,
        default: 0
      },
      parentProp2: {
        type: Number,
        required: true,
        default: 0
      }
    },
    // use a data or computed property based on the prop's value.
    data() {
      return {
        // 把 props 引入的父属性值赋值给 子组件的 属性
        childSelf1: this.parentProp1,
        childSelf2: this.parentProp2,
      }
    },
    // 替代 @input 事件
    watch: {
      // 监听属性改变
      childSelf1(newValue, oldValue) { // 参数可选
        // this.childSelf1 = newValue;
        this.childSelf2 = newValue * 100;
        this.$emit('child-prop1', newValue);
      },
      childSelf2(newValue, oldValue) {
        // this.childSelf2 = newValue;
        this.childSelf1 = newValue / 100;
        this.$emit('child-prop2', newValue);
      }
    }
  }

  // 父组件: Vue 实例
  const app = new Vue({
    el: '#app',
    data: {
      message: '',
      num1: 1,
      num2: 2,
    },
    // 引入子组件
    components: {
      cpn, // 增强写法
    },
    methods: {
      cik1(val) {
        // 这里入参默认为 String 类型, 不转换会报警告
        this.num1 = parseFloat(val);
      },
      cik2(val) {
        this.num2 = parseFloat(val);
      },
    }
  });
</script>

</body>
</html>