<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id="app">
  <!-- 驼峰绑定无法解析 -->
  <cpn :cinfo="info" :cInfo="info2"></cpn>
  <hr>
  <!-- 使用 - 连接 -->
  <cpn :cinfo="info" :c-info="info2"></cpn>
</div>

<!-- template -->
<template id="cpn">
  <div>
    <h2>{{cinfo}}</h2>
    <!-- 引入使用驼峰 -->
    <h2>{{cInfo}}</h2>
    <!--<h2>{{c-info}}</h2>-->
  </div>
</template>

<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>

  // 组件
  const cpn = {
    template: '#cpn',
    props: {
      cinfo: {
        type: Object,
        default() {
          return {}
        }
      },
      cInfo: {
        type: Object,
        default() {
          return {}
        }
      }
    }
  }

  // Vue 实例
  const app = new Vue({
    el: '#app',
    data: {
      message: '',
      info: {
        name: 1.9,
        age: 19
      },
      info2: {
        name: 'jack',
        age: 19
      },
    },
    components: {
      // 对象字面量增强形式
      cpn
    }
  });
</script>

</body>
</html>