<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<div id="app">
  <cpn>

  </cpn>
</div>


<template id="cpn">
  <div>
    <grand-son></grand-son>
    我是子组件
    <button @click="btC">获取子组件的 $parent</button>
  </div>
</template>

<template id="grandSon">
  <div>
    GrandSon
    <button @click="grandC">grandson 的 $parent and $root</button>
  </div>
</template>

<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
  const app = new Vue({
    el: '#app',
    data: {
      message: 'Vue 实例的 message 属性',
    },
    components: {
      // 子组件: cpn
      cpn: {
        template: '#cpn',
        data() {
          return {
            name: `我是子组件的 name`
          }
        },
        methods: {
          btC() {
            console.log(this.$parent);
          }
        },
        components: {
          // cpn 的子组件: grandSon
          grandSon: {
            template: '#grandSon',
            methods: {
              grandC() {
                console.log(this.$parent);
                console.log(this.$parent.name);

                // 访问根组件
                console.log(`根组件: `, this.$root);
                console.log(`根组件属性: `, this.$root.message);
              }
            }
          }
        }
      },
    }
  });
</script>

</body>
</html>