<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>


<div id="app">
  <cpn></cpn>
  <tmp></tmp>
</div>

<!-- 模板分离 -->
<!-- 方式一: type 值必须为 text/x-template -->
<script type="text/x-template" id="cpn">
  <div>
    <h2>我是标题</h2>
    <p>我是内容,虎虎虎呼呼</p>
  </div>
</script>

<!-- 2. template 标签 -->
<template id="tmp">
  <div>
    <h2>我是template</h2>
    <p>我是template内容,换行换行</p>
  </div>
</template>

<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>

  Vue.component('cpn', {
    template: '#cpn'
  })

  const app = new Vue({
    el: '#app',
    data: {
      message: ''
    },
    components: {
      tmp: {
        template: '#tmp'
      }
    }
  });
</script>

</body>
</html>